/* 媒体查询定义rem  */

@media screen and (min-width: 320px) {
    html {
        font-size: 31.33px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 31.33px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 32px;
    }
}

@media screen and (min-width: 540px) {
    html {
        font-size: 36px;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 42.667px;
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 51.2px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 66.1334px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 80px;
    }
}

@media screen and (min-width: 1300px) {
    html {
        font-size: 86.7px;
    }
}


/* 登录注销 */

@media screen and (max-width: 768px) {
    .head_login .login_bu1 {
        width: 2rem!important;
        height: 0.7rem!important;
        line-height: 0.7rem!important;
        font-size: 0.4rem!important;
        letter-spacing: 0.1rem!important;
    }
    .head_login .return_bu2 {
        width: 2rem!important;
        height: 0.7rem!important;
        line-height: 0.7rem!important;
        font-size: 0.4rem!important;
        letter-spacing: 0.1rem!important;
    }
}

.row {
    width: 100%;
}

.container {
    width: 100%;
}

header {
    padding-bottom: 0.4rem;
}

.head_img {
    padding-top: 0.1rem;
    padding-left: 0.4rem;
    height: 0.9rem;
}

.head_img img {
    max-height: 100%;
}

.head_login {
    padding-top: 0.2rem;
    padding-right: 0.3rem;
    text-align: right;
}

.head_login .login_bu1 {
    width: 1.5rem;
    height: 0.6rem;
    color: #Ffffff;
    background: #86B4EE;
    outline: none;
    border: 1px solid #86B4EE;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: 0.23rem;
    border-radius: 0.1rem;
}

.head_login .return_bu2 {
    width: 1.5rem;
    height: 0.6rem;
    color: #Ffffff;
    background-color: #c0d8f6;
    outline: none;
    border: 1px solid #c0d8f6;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: 0.23rem;
    border-radius: 0.1rem;
    display: none;
}